
.wrapper {
    background: #20283ECC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 8px 24px 8px;
    border-radius: 12px;
    position: relative;
    gap: 16px;
}

.rating {
    display: flex;
    width: fit-content;
    align-items: center;
    color: #FFAD49;
    gap: 4px;
    background: #000000A6;
    padding: 4px 8px;
    border-radius: 8px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.count {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 2px;
}

.poster {
    position: relative;
    min-height: 400px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.poster > img {
    width: 100%;
    border-radius: 8px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #EBEEF5;
    padding-top: 8px;
    padding-left: 8px;
}

.loadingImg {
    visibility: hidden;
}

.posLoader {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

