.wrapper {
    position:relative;
    display: inline;
    padding-right: 8px;
}

.icon {
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left: 16px;
    transform: translateY(-50%);
}

.root {
    height: 64px;
    padding: 12px 16px 12px 16px;
    border-radius: 12px;
    border: 1px solid #323B54;
    background: #121829;
    color: #475069;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.search {
    padding: 12px 16px 12px 56px;
}

.root:focus, .root:active {
    outline: none;
}

.root:hover {
    border: 1px solid #475069;

}

.invalid {
    border: 1px solid rgb(68, 6, 6);
}

.invalid:hover {
    border: 1px solid rgb(68, 6, 6);
}